html {
  text-align: center;
}

h1 {
  font-size: 120%;
  margin-top: 15px;
}

h2 {
  font-size: 120%;
  margin-top: 15px;
}

table {
  border: solid;
  margin: auto;
}

td {
  padding: 15px;
  border: solid;
  border-color: black;
}
